.DS_Store
__pycache__
output/*
site/
venv
.venv/
.vscode/
/*.pickle
.requirements_installed
/docs-sphinx/output/
input/
instance_type_info.csv
instance_type_info.*.csv
instance_type_info.*.json
tests
tests/
test_files
test_files/*
foo*
