version: 1

instance_mapping:
  region_name: eu-west-1
  range_minimum: 0
  range_maximum: 1000000
  ram_ranges_GB:          # Changing this default value will requiring updating test_add_job_to_collector
    - 1
    - 2
    - 4
    - 8
    - 16
    - 32
    - 64
    - 128
    - 256
    - 512
    - 1024
    - 2048
    - 4096
  runtime_ranges_minutes:   # Changing this default value will requiring updating test_add_job_to_collector
    - 1
    - 5
    - 20
    - 60
    - 240
    - 1440
  instance_prefix_list: # to allow all instances leave the list with only 1 value of a blank string
    - c7a
    - c7i
    - hpc # hpc instances only come in 1 instance size
    - m7a
    - m7i
    - r7a
    - r7i
    - z1d # (6)
    - x2i # (5)
    - u

consumption_model_mapping:
  minimum_cpu_speed:  2                 # For schedulers that do not report the CPU speed - allows setting a mimimum. set to 0 to include all instances
  maximum_minutes_for_spot: 60
  ec2_savings_plan_duration: 3
  ec2_savings_plan_payment_option: 'All Upfront'
  compute_savings_plan_duration: 3
  compute_savings_plan_payment_option: 'All Upfront'

ComputeClusterModel:
  BootTime: '2:00'
  IdleTime: '4:00'
