bandit # For security scan
black
boto3==1.20.38
botocore
colored==1.4.2
GitPython
mkdocs
mypy
openpyxl
psutil
pytest
pytest-order
PyYAML==5.4.1
requests==2.25.1
schema
sphinx
types-PyYAML
urllib3==1.26.5
